 <%= stylesheet_link_tag 'storyIndex' %>

  <br>
  <h5>
      Stories
  </h5>
<div class="d-flex" >
 <% @storys.each do |story| %>
    <div class="card border-success mb-3 mx-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"><%= story.user.name%></div>
  <div class="card-body text-success">
    <% if story.image != nil %>
     <%= image_tag(story.image ,class:'img-fluid' )%>
     <% end %>
  </div>
  <div class="card-footer bg-transparent border-success d-flex justify-content-between">
    <div>
        <%=story.note%>
    </div>
      <% if user_signed_in? and story.user.id == current_user.id %>
    <div>
      <%= button_to   delete_story_path(story.id),class:"storyDelete" , method: :delete  do%>
         <i class="fa-solid fa-trash" style="color: #ec0936;"></i>
       <%end%>
    </div>
      <% end %>
  </div>
</div>



 <% end %>

</div>









<% if false%>

 <% @storys.each do |story| %>
 <%# for status deleting %>
<% time_difference = Time.now - story.created_at%>
<% if time_difference >= 24.hours %>
<% user_id = story.user.id %>
<% user = User.find(user_id)%>
<% user.story.destroy %>
<% end %>

 <p>Note:</p><br>
 <%= story.note %>
<p>Name:</p>
<br>
<%= story.user.name %>

<%= image_tag(story.image ,class:'img-fluid' )%>

<%= button_to "DELETE", delete_story_path(story.id) , method: :delete %>

<hr>
<%end%>


<% end %>
