 <div class="col">
    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title"> Name : <%= groupShow.name %> </h5>

            <p class="card-text">  Bio : <%= groupShow.bio %> </p>
            <p class="card-text">  Category : <%= groupShow.community.name %> </p>

            <div class="d-flex">
                <% if user_signed_in? %>
                    <% member = groupShow.members.where(user_id: current_user.id ) %>
                    <% if member.length == 0 && groupShow.user.id != current_user.id %>
                         <%= button_to "Join Group" , join_group_path, params: {group_id: groupShow.id}, method: :get , class:"btn btn-primary btn-sm mx-2" %>

                    <% end %>
                <% end %>

                <% if  user_signed_in? and current_user.id == groupShow.user.id %>
                    <div>
                    <%= button_to "Delete Group" , delete_group_path, params: {group_id: groupShow.id}, method: :post , class:"btn btn-danger btn-sm mx-2"%>

                    </div>
                <% end %>
                <div>
                <%= button_to "View Group" , view_group_path(id:groupShow.id), method: :get , class:"btn btn-success btn-sm mx-2"%>

                </div>
            </div>
        </div>
    </div>
</div>

