

<% stylesheet_link_tag "postsForm"%>

<div class="newPost">
<h1 >
    Add new Post
  </h1>
<%= form_with class:"form-group newPostForm bg-light text-dark", model: post  do |form| %>

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <%= form.text_field :title , class:"form-control" %>
  </div>
  <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div>
    <label for="description" class="form-label">Description</label>
    <%= form.text_area :description ,class:"form-control" %>
  </div>
<% post.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  <div>
    <br>
     <%= form.file_field :images, multiple:true%>

  </div>
  <div class="mb-3">
     <br>
   <%= form.submit class: "btn btn-success w-100" %>
   </div>
<% end %>

</div>
